.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  padding-top: 50px;
}
.link-header-box {
  padding-top: 40px;
}
.link-header {
  padding: 20px 30px;
  color: #406dc6;
  font-size: 16px;
  border: 2px solid transparent;
}
.link-header:hover,
.link-header:active {
  color: #406dc6;
  background-color: transparent;
  border: 2px solid #406DC6;
  border-radius: 10px;
}
.main {
  padding-top: 240px;
}
.title-main {
  font-size: 48px;
  color: #3E4554;
}
.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 74px;
}
.main-input {
  height: 100%;
  width: 455px;
  color: #9FA8B8;
  font-size: 16px;
  padding-left: 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #EDF0F6;
}
.input-from {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 0px;
}
.input-to {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.box-form-position {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 910px;
  height: 74px;
  -ms-flex-item-align: center;
      align-self: center;
}
.btn-turn {
  width: 42px;
  height: 42px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/Group.png) center / auto no-repeat #ffffff;
  border: 2px solid #EDF0F6;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  bottom: 50%;
}
.create {
  font-size: 16px;
  background: #406DC6;
  color: #fff;
  padding: 27px 30px 0px 30px;
  border-radius: 10px;
  border: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}
.add {
  height: 20px;
  padding-left: 30px;
  color: #406DC6;
  background: url(../img/add.png) left / contain no-repeat transparent;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}
.img-trvl {
  height: 300px;
  width: 98vw;
  margin-top: 100px;
  background: url(../img/main-movement.svg) center / contain no-repeat;
}
.footer {
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #B7CDF0;
  font-size: 14px;
}
.footer-ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-ul-li {
  list-style: none;
}
.footer-ul-li:not(:last-child) {
  margin-right: 48px;
}
.footer-ul-a {
  text-decoration: none;
  color: #B7CDF0;
}
body {
  margin: 0px;
}
a {
  text-decoration: none;
}
.width-content {
  width: 1108px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .width-content {
    width: 900px;
    margin: 0 auto;
  }
  .box-form-position {
    width: 710px;
  }
}
.main-font {
  font-family: 'Montserrat', sans-serif;
}
